<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css" rel="stylesheet">
	<style>
		body {
			font-family: Montserrat;
		}

		.swal2-popup.swal2-toast {
			box-shadow: none;
		}

		.input-container {
			height: calc(100vh - 70px);
		}

		.navbar-container {
			height: 70px;
		}

		input.borderless-input {
			font-size: 5rem;
			background: transparent;
			border: none;
			color: #FFF !important;
		}

		input.borderless-input:focus {
			outline: none;
		}
	</style>
    <title>🔗 shrty</title>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark navbar-container d-flex flex-row align-items-center">
		<p class="navbar-brand font-weight-bold float-left d-flex flex-row align-items-baseline m-0 p-0">
			<i class="fas fa-link mr-2"></i>shrty
		</p>
		{{#if username}}
		<p class="float-right m-0 font-weight-bold">
			<i class="fas fa-user-alt mr-2"></i>{{username}}
		</p>
		{{/if}}
	</nav>
	<div class="container">
		{{{body}}}
	</div>
</body>
</html>
