<h1>shrty.eu</h1>
<form action="/url/add" method="POST">
    <input name="url" class="input-group-text" type="url" placeholder="URL">
    <button type="submit" class="btn btn-primary">short me!</button>
</form>
