<form method="POST" class="input-container d-flex flex-column justify-content-center align-items-center">
	<div>
		<input name="csrf" type="hidden" value="{{csrfToken}}">
		<input name="username" class="input-group-text" type="text" placeholder="Username" autofocus>
		<input name="password" class="input-group-text mt-2" type="password" placeholder="Password">
		<button type="submit" class="btn btn-primary mt-2 w-100">Login</button>
	</div>
</form>
